.a {
    text-decoration: none;
}

.input,
.button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.loginBox {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2 !important;
    left: 50%;
    width: 400px;
    height: 364px;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right, #171717 0%, black 100%);
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.6);
    padding: 40px;
    box-sizing: border-box;
}

.h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    font-family: "Courier New", Courier, monospace;
}

.item {
    height: 45px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
    position: relative;
}

.item input {
    width: 100%;
    font-size: 20px;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    box-sizing: border-box;
}

.item input:focus + label,
.item input:valid + label {
    top: -5px;
}

.item label {
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.2s ease-in-out;
}

.btn {
    padding: 10px 20px;
    margin-top: 20px;
    color: #03e9f4;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 35%;
}

.btn:hover {
    border-radius: 5px;
    color: #fff;
    background: #03e9f4;
    box-shadow:
        0 0 5px 0 #03e9f4,
        0 0 25px 0 #03e9f4,
        0 0 50px 0 #03e9f4,
        0 0 100px 0 #03e9f4;
    transition: all 1s linear;
}

.btn > span {
    position: absolute;
}

.btn > span:nth-child(1) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, transparent, #03e9f4);
    left: -100%;
    top: 0px;
    animation: line1 1s linear infinite;
}

@keyframes line1 {
    50%,
    100% {
        left: 100%;
    }
}

.btn > span:nth-child(2) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #03e9f4);
    right: 0px;
    top: -100%;
    animation: line2 1s 0.25s linear infinite;
}

@keyframes line2 {
    50%,
    100% {
        top: 100%;
    }
}

.btn > span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, #03e9f4, transparent);
    left: 100%;
    bottom: 0px;
    animation: line3 1s 0.75s linear infinite;
}

@keyframes line3 {
    50%,
    100% {
        left: -100%;
    }
}

.btn > span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top, transparent, #03e9f4);
    left: 0px;
    top: 100%;
    animation: line4 1s 1s linear infinite;
}

@keyframes line4 {
    50%,
    100% {
        top: -100%;
    }
}

.h2 {
    font-size: 35px;
    background: linear-gradient(to right, #757575, #ffffff);
    -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
    -webkit-text-fill-color: transparent; /*给文字设置成透明*/
    animation: login 3s linear infinite;
    margin: 5px;
}
@keyframes login {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
