.autoImg{
  width: 1000px;
  height: 550px;
  margin: 0px auto;
}
.item{
  display: flex;
  gap: 10px;
}
.intro{
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}
.intro::-webkit-scrollbar-thumb {
  width: 5px;
  background: #888;
  border-radius: 5px;
}
.intro::-webkit-scrollbar {
  width: 5px;
}
.intro::-webkit-scrollbar-track {
  background: #272727;
  border-radius: 5px;
}
.img{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
.container{
  height: 500px;
}
